/*Proto Style Guide
Light Grey Color: #F4F6FB
White Color: #EFEFEF;
Blue Grey Color: #2C3E50;
Salmon Color: #F4282A;
Font: Headers- Futura 30px font kerning 2em; Text: Raleway 16px;
*/

/*Basic Element Style*/
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #F4F6FB;
  color: #2C3E50;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .5em;
  color: #2C3E50;
  font-family: "Futura", sans-serif;
}

h2 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: .5em;
  color: #EFEFEF;
  font-family: "Futura", sans-serif;

}

h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .5em;
  color: #2C3E50;
  font-family: "Futura", sans-serif;
}

p {
  font-size: 16px;
  font-weight:normal;
  color: #2C3E50;
  font-family: "Raleway", sans-serif;
}

/*Header Style For All Pages*/

header {
  background-color: #2C3E50;
  width: 100%;
  height: 75px;
  position: relative;

}

header h2 {
  position: absolute;
  padding-left: 2%;
  left: 0;
  top: 30%;
  left: 3%;
  display: inline;
}

nav {
  display: inline;
  position: absolute;
  right: 3%;
  top: 40%;
}
nav a{
  text-decoration: none;
  font-family: "Futura", sans-serif;
  color: #EFEFEF;
  font-size: 15px;
  padding: 5px;
}

/*Home Page Image Intro Section*/
.intro{
  margin-top: 0;
  width: 100%;
  height: 700px;
  background-image: url("../images/cafe2.jpg");
  background-size: cover;
  opacity: 0.5;
  z-index: 0;
  position: relative;

}

.intro h1 {
  position: relative;
  margin-top: 0;
  text-align: center;
  font-size: 70px;
  color: #F4282A;
  padding-top: 20%;
  z-index: 1;
  opacity: 1;
  text-shadow: 3px 3px #EFEFEF;

}

.introAbout {
  margin-top: 0;
  width: 100%;
  height: 700px;
  background-image: url("../images/fishing.jpg");
  background-size: cover;
  opacity: 0.5;
}

.introAbout h1 {
  margin-top: 0;
  padding-top: 20%;
  color: #F4282A;
  text-align: center;

}

/*About Page */

/*Basic Styling for Elements with Blue Backgrounds*/
#about, #tourists, #enjoy {
  background-color: #2C3E50;
  margin: 0;
  height: 250px;
  width: auto;
  position: relative;
}

/*Basic Styling for Elements with Grey Backgrounds*/

#fishes, #bake {
  background-color: #F4F6FB;
  margin: 0;
  height: 250px;
  width: auto;
  position: relative;
}

/*Element Specific Styling for Elements with Blue Backgrounds*/

#about img{
  display: inline;
  float: left;
  padding-right: 2%;
  margin-top: 0;
  position: absolute;

}

#about h3, #about p {
  color: #EFEFEF;
  position: absolute;
  left: 28%;
}

#about p {
  top: 20%;
  margin-right: 5%;
}

#tourists img{
  display: inline;
  float: left;
  height: 250px;
  position: absolute;
}

#tourists h3 {
  position: absolute;
  top: 5%;
  left: 42%;
  color: #EFEFEF;
}

#tourists p {
  color: #EFEFEF;
  position: absolute;
  top: 20%;
  left: 42%;
  margin-right: 5%;
}

#enjoy img {
  height: 250px;
  display: inline;
  float: left;
  padding-right: 2%;
  position: absolute;
}

#enjoy h3 {
  position: absolute;
  display: inline;
  color: #EFEFEF;
  top: 5%;
  left: 40%;
  position: absolute;
}

#enjoy p {
  color: #EFEFEF;
  position: absolute;
  top: 20%;
  left: 40%;
  padding-right: 5%;
}

/*Element Specific Styling for Elements with Blue Backgrounds*/

#fishes img{
  position: absolute;
  right: 3%;
  top: 20%;
  float: right;
  width: 30%;
  height: 40%;
  padding-left: 2%;
  padding-right: 2%;
}

#fishes h3, #bake h3 {
  position: absolute;
  left: 3%;
  padding-left: 2%;
  display: inline;
  top: 10%;
}

#fishes p, #bake p {
  position: absolute;
  left: 5%;
  top: 25%;
  float: left;
  margin-right: 40%;
}

#bake img {
  display: inline;
  float: right;
  height: 250px;
  padding-left: 2%;
  margin-bottom: 1%;
}

/*LOCATIONS PAGE*/

#locations, #locations h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #2C3E50;
}

#locations h2 {

  text-align: center;
}

#store, #contact, #lastfish {
  padding-left: 5%;
}

/*BOTTOM OF PAGE*/

#lastfish img {
  height: 30%;
  margin-top: 5%;
}

#lastfish  {
  text-align: center;
}

footer {
  background-color: #2C3E50;
  margin: 0;
  padding: 0;
  height: 50px;
  width: auto;
  position: relative;
}

footer p {
  color: #EFEFEF;
  text-align: right;
  padding: 2% 5% 0 0;
  margin-bottom: 0;
  display: inline;
  position: absolute;
  right: 0;
  bottom: 25%;
}
